# .env file

# OpenAI API key used by the OpenAI client
OPENAI_API_KEY=XXXXX

# Google Gemini API key used by the Gemini client
GEMINI_API_KEY=XXXXX

# Claude API key used by the Claude client
ANTHROPIC_API_KEY=xxxxx

# Deepseek API key used by the Deepseek client
DEEPSEEK_API_KEY=xxxxxx
